@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&family=Roboto+Serif:opsz,wght@8..144,100&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #026163;
}
.menu-behind {
	width: 100%;
    background-color: #fefefe;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.menu {
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
/*
    background-color: #026163;
    box-shadow: 0 0 0.5rem #fefefe;
    border-radius: 5px;
*/
}
.logo {
    height: 100px;
}
.menu .navbar ul {
    display: initial;
}
.menu .navbar ul li {
    position: relative;
    float: left;
    padding: 15px 5px;
}
.menu .navbar ul li a {
    font-size: 16px;
    padding: 8px;
    color: #1E1E26;
	display: block;/*-------------------- p/abarcar más que el texto */
    text-transform: uppercase;
    font-weight: 600;
}
.menu .navbar ul li a:hover {
	box-shadow: inset 0 -3px 0;
}
.menu .navbar ul li i {
    padding: 5px 3px;
    color: #1E1E26;
}
#menu {
    display: none;
}
.menu-icono {
    width: 30px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.header-content {
    display: flex;
    align-items: center;
    padding: 125px 0 50px 0;
}
.header-text {
    width: 40%;
    padding-right: 20px;
}
.header-text h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color: #1E1E26;
    margin-bottom: 20px;
}
.header-text p {
    font-size: 18px;
    color: #1E1E26;
}
/*============================== footer ==============================*/
.footer-behind {
	width: 100%;
    background-color: #4B3B47;
}
.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-color: #4B3B47;
}
.logo-2 {
    width: 150px;
}
.links h4 {
    color: #fefefe;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.links ul li a {
    color: #fefefe;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
.links ul li {
    color: #fefefe;
}
.socials {
    display: flex;
}
.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #fefefe;
    border-radius: 50%;
}
.social:hover {
    background-color: #0000ff;
}
.social img {
    margin: 8px 0 0 10px;
}
/*++++++++++ fin principalmente de header y footer compartido ++++++++++*/
/*============================== helado flotante ==============================*/
.header-img {
    right: 0;
    position: absolute;
    bottom: 150px;
    width: 180px;
}
.helado {
    width: 100%;
    height: 100%;
    animation: float 2s linear infinite;
}
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}
/*============================== banner deslizante ==============================*/
.slider-frame {
	width: 1280px;
    height: auto;
	margin: auto ;
	overflow: hidden;
    margin: auto;
}
.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}
.slider-frame li {
	width: 100%;
	list-style: none;
}
.slider-frame img {
	width: 100%;
}
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*============================== media queries ==============================*/
@media(max-width:991px) {
    .menu {
        padding: 10px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #e70b25;
        display: none;
        padding: 5px;
    }
    .logo {
		height: 85px;
	}
    .menu .navbar ul li {
        width: 100%;
        margin: -8px 0;
    }
    .menu .navbar ul li a, .menu .navbar ul li i {
        color: #fefefe;
    }
    .menu .navbar ul li a:hover, .menu .navbar ul li i:hover {
        color: #a0a0a0;
        box-shadow: none;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .header-content {
        flex-direction: column;
        padding: 100px 30px 30px 30px;
    }
    .header-text {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .header-text h1 {
        font-size: 40px;
    }
    .header-img {
        display: none;
    }
}
@media(max-width:600px){
    .socials {
        justify-content: center;
    }
    .social img {
        margin: 8px 0 0 0;
    }
    .footer {
        padding: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .links h4 {
        margin: 25px 0 10px 0;
    }
}
